In [1]:
import pandas as pd

In [2]:
df1 = pd.read_excel('./data/01. population_in_Seoul.xls',encoding='utf-8')

In [3]:
df1

,기간,자치구,세대,인구,인구.1,인구.2,인구.3,인구.4,인구.5,인구.6,인구.7,인구.8,세대당인구,65세이상고령자
0,기간,자치구,세대,합계,합계,합계,한국인,한국인,한국인,등록외국인,등록외국인,등록외국인,세대당인구,65세이상고령자
1,기간,자치구,세대,계,남자,여자,계,남자,여자,계,남자,여자,세대당인구,65세이상고령자
2,2017.1/4,합계,4202888,10197604,5000005,5197599,9926968,4871560,5055408,270636,128445,142191,2.36,1321458
3,2017.1/4,종로구,72654,162820,79675,83145,153589,75611,77978,9231,4064,5167,2.11,25425
4,2017.1/4,중구,59481,133240,65790,67450,124312,61656,62656,8928,4134,4794,2.09,20764
5,2017.1/4,용산구,106544,244203,119132,125071,229456,111167,118289,14747,7965,6782,2.15,36231
6,2017.1/4,성동구,130868,311244,153768,157476,303380,150076,153304,7864,3692,4172,2.32,39997
7,2017.1/4,광진구,158960,372164,180992,191172,357211,174599,182612,14953,6393,8560,2.25,42214
8,2017.1/4,동대문구,159839,369496,182932,186564,354079,177021,177058,15417,5911,9506,2.22,54173
9,2017.1/4,중랑구,177548,414503,206102,208401,409882,204265,205617,4621,1837,2784,2.31,56774
10,2017.1/4,성북구,188512,461260,224076,237184,449773,219545,230228,11487,4531,6956,2.39,64692
11,2017.1/4,강북구,141554,330192,161686,168506,326686,160353,166333,3506,1333,2173,2.31,54813
12,2017.1/4,도봉구,136613,348646,171026,177620,346629,170289,176340,2017,737,1280,2.54,51312
13,2017.1/4,노원구,219957,569384,276823,292561,565565,275211,290354,3819,1612,2207,2.57,71941
14,2017.1/4,은평구,201869,494388,240220,254168,489943,238337,251606,4445,1883,2562,2.43,72334
15,2017.1/4,서대문구,137207,327163,156765,170398,314982,152613,162369,12181,4152,8029,2.3,48161
16,2017.1/4,마포구,169404,389649,185889,203760,378566,181346,197220,11083,4543,6540,2.23,48765
17,2017.1/4,양천구,176921,479978,237117,242861,475949,235278,240671,4029,1839,2190,2.69,52975
18,2017.1/4,강서구,247696,603772,294433,309339,597248,291249,305999,6524,3184,3340,2.41,72548
19,2017.1/4,구로구,172272,447874,224436,223438,416487,207114,209373,31387,17322,14065,2.42,56833
20,2017.1/4,금천구,105146,255082,130558,124524,236353,120334,116019,18729,10224,8505,2.25,32970
21,2017.1/4,영등포구,165462,402985,202573,200412,368072,183705,184367,34913,18868,16045,2.22,52413
22,2017.1/4,동작구,173033,412520,201217,211303,400456,195775,204681,12064,5442,6622,2.31,56013
23,2017.1/4,관악구,253826,525515,264763,260752,507203,256090,251113,18312,8673,9639,2,68082
24,2017.1/4,서초구,173856,450310,216264,234046,445994,214036,231958,4316,2228,2088,2.57,51733
25,2017.1/4,강남구,234107,570500,273301,297199,565550,270726,294824,4950,2575,2375,2.42,63167
26,2017.1/4,송파구,259883,667483,325040,342443,660584,321676,338908,6899,3364,3535,2.54,72506
27,2017.1/4,강동구,179676,453233,225427,227806,449019,223488,225531,4214,1939,2275,2.5,54622
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df1.head()

,기간,자치구,세대,인구,인구.1,인구.2,인구.3,인구.4,인구.5,인구.6,인구.7,인구.8,세대당인구,65세이상고령자
0,기간,자치구,세대,합계,합계,합계,한국인,한국인,한국인,등록외국인,등록외국인,등록외국인,세대당인구,65세이상고령자
1,기간,자치구,세대,계,남자,여자,계,남자,여자,계,남자,여자,세대당인구,65세이상고령자
2,2017.1/4,합계,4202888,10197604,5000005,5197599,9926968,4871560,5055408,270636,128445,142191,2.36,1321458
3,2017.1/4,종로구,72654,162820,79675,83145,153589,75611,77978,9231,4064,5167,2.11,25425
4,2017.1/4,중구,59481,133240,65790,67450,124312,61656,62656,8928,4134,4794,2.09,20764

In [5]:
df2 = pd.read_excel('./data/01. population_in_Seoul.xls',
                    header=2,
                    usecols='B,D,G,J,N',
                    encoding='utf-8')

In [6]:
df2.head()

   자치구           계        계.1       계.2   65세이상고령자
0   합계  10197604.0  9926968.0  270636.0  1321458.0
1  종로구    162820.0   153589.0    9231.0    25425.0
2   중구    133240.0   124312.0    8928.0    20764.0
3  용산구    244203.0   229456.0   14747.0    36231.0
4  성동구    311244.0   303380.0    7864.0    39997.0